.main {
    position: relative;
    height: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    background: black url("/goombingo/gomioldge.png") no-repeat right bottom;
}

.main h1 {
    font-size: 69px;
    color: #fafafa;
}

.sayings {
    position: absolute;
    bottom: 100px;
    right: 300px;
    color: white;
    background: rgba(0, 0, 0, 0.84);
    padding: 16px;
}
.callerWrapper {
    display: flex;
    align-items: center;
    max-width: 900px;
    gap: 128px;
}

.boardWrapper {
    display: grid;
    grid-template-columns: repeat(10, 60px);
    justify-items: center;
    gap: 8px;
    color: white;
    border: 1px solid rgba(100, 100, 100, 0.5);
    background: rgba(0, 0, 0, 0.84);
    border-radius: 8px;
    padding: 16px;
}

.boardItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    padding: 20px;
    cursor: pointer;
}

.selectedItem {
    background: #e8e8e8;
    color: #0a0a0a;
    border-radius: 4px;
}

.rolledItem {
    background: red;
    border-radius: 50%;
}

.resultWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    color: #e8e8e8;
}

.resultWrapper h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 69px;
    width: 100px;
    white-space: nowrap;
}
